# Ignore the directory
**/__pycache__/
**/**.ndb
VectorDatabase/default/logs/*
VectorDatabase/default/segments/*
VectorDatabase/default/snapshots/*
VectorDatabase/default/metadata/*


# Other ignored files/folders
*.log
.env
**/**test**
**/**dev**
